.field {
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
}

.field:not(:first-of-type) {
  margin-top: 20px;
}

.input {
  margin-top: 5px;
  padding: 5px 10px;
  outline: none;
}

.input_invalid {
  border: 2px solid red;
}

.form {
  margin: 30px;
}

.error {
  margin-left: 10px;
  font-weight: bolder;
  color: red;
}

.submit {
  margin-top: 20px;
  padding: 5px 10px;
}
